{% extends 'main/layout.html' %}

{% block title %}Возможности{% endblock %}

{% block content %}
<div    class="header_possibilities">
    <h2>Услуги при въезде в Евразийский таможенный союз</h2>
</div>

<div  class="possibilities">
  <div class="square">
    <h3>TIR</h3>
    <p>Мы предоставляем услугу по заполнению книжки МДП (TIR), а также представляем Ваши интересы в таможне при подаче электронных деклараций МДП (TIR) через систему NCTS.</p>
  </div>
  <div class="square">
    <h3>T1</h3>
    <p>Транзитная декларация заполняется на товары, находящиеся под таможенным контролем, с одной таможенной территории на другую, т.е. грузов в страны Евросоюза.</p>
  </div>
  <div class="square">
    <h3>CHED A/D/P/PP</h3>
    <p>Фитосанитарный въездной документ предназначен для растений, объектов растительного происхождения, продукты животного происхождения и животных.</p>
  </div>
  <div class="square">
    <h3>EPI</h3>
    <p>Предварительная электронная декларация (EPI) является обязательной при ввозе грузов автомобильным транспортом на территорию Беларуси.</p>
  </div>
  <div class="square">
    <h3>GARANT</h3>
    <p>Обеспечивает выполнение налоговых обязательств, которые возникают или могут возникнуть в связи с администрируемыми таможенными налогами.</p>
  </div>
    <div class="square">
    <h3>ETD</h3>
    <p>Предварительная электронная декларация (ETD) обычно требуется при ввозе грузов автомобильным транспортом на территорию Калининградской области.</p>
  </div>
</div>

{% endblock %}